### 1. 

En el archivo "logistic_regression_digits" hemos visto un ejemplo multiclase. Elimina todas las imágenes y etiqueta (label) cuyo valor del label no sea 1 o 9. Es decir, elimina todos los dígitos y quédate solo con los dígitos 1 y 9.

Ahora, realiza un entrenamiento con logistic regression con los nuevos datos:

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (modifica, prueba) los argumentos y comenta si modificando algunas de ellas se mejora el porcentaje de acierto del problema.

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_digits
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading data
digits = load_digits()

In [3]:
# Extracting to use data
df = pd.DataFrame(data= np.c_[digits['data'], digits['target']])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4.0

In [17]:
# Filtering dataset

n_df = df[(df[64] == 1) | (df[64] == 9)]
n_df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1.0
9,0.0,0.0,11.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,9.0,12.0,13.0,3.0,0.0,0.0,9.0
11,0.0,0.0,0.0,0.0,14.0,13.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,13.0,16.0,1.0,0.0,1.0
19,0.0,0.0,6.0,14.0,4.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,7.0,16.0,16.0,13.0,11.0,1.0,9.0
21,0.0,0.0,0.0,2.0,16.0,16.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,12.0,15.0,4.0,0.0,1.0

In [22]:
# Separating input data from target

X = n_df.iloc[:, :64].values
y = n_df[64].values.reshape(-1,1)

In [25]:
# Separating training data from test data

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.15, random_state=0)

In [30]:
# Creating model instance and trainning it

log_reg = LogisticRegression(random_state=1)
log_reg.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [31]:
# Checking models accuracy

print('Training accuracy -->', log_reg.score(X_train, y_train))
print('Test accuracy -->', log_reg.score(X_test, y_test))

Training accuracy --> 1.0
Test accuracy --> 1.0

In [32]:
# Checking accuracy for all data

X_2 = df.iloc[:, :64].values
y_2 = df[64].values.reshape(-1,1)

X_train2, X_test2, y_train2, y_test2 = model_selection.train_test_split(X_2, y_2, test_size=0.15, random_state=0)

log_reg2 = LogisticRegression()
log_reg2.fit(X_train2, y_train2)

print('Training accuracy -->', log_reg2.score(X_train2, y_train2))
print('Test accuracy -->', log_reg2.score(X_test2, y_test2))

Training accuracy --> 1.0
Test accuracy --> 0.9703703703703703

We can see how the models accuracy improved when removing values different from 1 and 9 from the target, although the accuracy values were already very high.

## Model Improvement

### C value

In [34]:
# Tunning para meter C of model

# The values of C to search should be n-equally-spaced values in log space ranging from 1e-5 to 1e5
C_List = np.geomspace(1e-5, 1e5, num=20)
CA = []

for c in C_List:
    log_reg3 = LogisticRegression(random_state=1, C=c)
    log_reg3.fit(X_train2, y_train2)
    score = log_reg2.score(X_test2, y_test2)
    CA.append(score)
    print("The CA of C parameter {} is {}:".format(c, score))

The CA of C parameter 1e-05 is 0.9703703703703703:
The CA of C parameter 3.359818286283781e-05 is 0.9703703703703703:
The CA of C parameter 0.00011288378916846884 is 0.9703703703703703:
The CA of C parameter 0.000379269019073225 is 0.9703703703703703:
The CA of C parameter 0.0012742749857031334 is 0.9703703703703703:
The CA of C parameter 0.004281332398719391 is 0.9703703703703703:
The CA of C parameter 0.01438449888287663 is 0.9703703703703703:
The CA of C parameter 0.04832930238571752 is 0.9703703703703703:
The CA of C parameter 0.1623776739188721 is 0.9703703703703703:
The CA of C parameter 0.5455594781168515 is 0.9703703703703703:
The CA of C parameter 1.8329807108324339 is 0.9703703703703703:
The CA of C parameter 6.1584821106602545 is 0.9703703703703703:
The CA of C parameter 20.6913808111479 is 0.9703703703703703:
The CA of C parameter 69.51927961775606 is 0.9703703703703703:
The CA of C parameter 233.57214690901213 is 0.9703703703703703:
The CA of C parameter 784.7599703514607 is 0.9703703703703703:
The CA of C parameter 2636.6508987303555 is 0.9703703703703703:
The CA of C parameter 8858.667904100832 is 0.9703703703703703:
The CA of C parameter 29763.51441631313 is 0.9703703703703703:
The CA of C parameter 100000.0 is 0.9703703703703703:

In [36]:
# putting the outcomes in a Table

# reshaping
C_list2 = np.array(C_List).reshape(-1)
CA2 = np.array(CA).reshape(-1)
outcomes = zip(C_list2, CA2)

#df
df_outcomes = pd.DataFrame(outcomes, columns = ["C_values", 'CA2'])

#print
df_outcomes

# Ordering the data (sort_values)
df_outcomes.sort_values("CA2", ascending = False).reset_index(drop=True)

         C_values      CA2
0        0.000010  0.97037
1        0.000034  0.97037
2    29763.514416  0.97037
3     8858.667904  0.97037
4     2636.650899  0.97037
5      784.759970  0.97037
6      233.572147  0.97037
7       69.519280  0.97037
8       20.691381  0.97037
9        6.158482  0.97037
10       1.832981  0.97037
11       0.545559  0.97037
12       0.162378  0.97037
13       0.048329  0.97037
14       0.014384  0.97037
15       0.004281  0.97037
16       0.001274  0.97037
17       0.000379  0.97037
18       0.000113  0.97037
19  100000.000000  0.97037

The accuracy is exactly the same for all C values

### Solver

In [39]:
# Lets loop through all optimisation algorithms to search for the best outcome

opt_alg_list = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
CA = []

for alg in opt_alg_list:
    log_reg3 = LogisticRegression(random_state=1, solver=alg)
    log_reg3.fit(X_train2, y_train2)
    score = log_reg2.score(X_test2, y_test2)
    CA.append(score)
    print("The CA of C parameter {} is {}:".format(c, score))

The CA of C parameter 100000.0 is 0.9703703703703703:
The CA of C parameter 100000.0 is 0.9703703703703703:
The CA of C parameter 100000.0 is 0.9703703703703703:
The CA of C parameter 100000.0 is 0.9703703703703703:
The CA of C parameter 100000.0 is 0.9703703703703703:

All accuracy values are the same again