# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [1]:
dictio1 = {5 : "val"}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [4]:
city4 = ["Malaga", "Madrid", "Kuala Lumpur", "Edimburgo"]
landmark = ["Manquita", "Puerta del Sol", "Petrona Towers", "Princess Street"]

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [5]:
ziplists = zip(city4, landmark)
dictio2 = dict(ziplists)
dictio2

{'Malaga': 'Manquita',
 'Madrid': 'Puerta del Sol',
 'Kuala Lumpur': 'Petrona Towers',
 'Edimburgo': 'Princess Street'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [12]:
for keys in dictio2.keys():
    if keys[0] == 'M':
        print(dictio2[keys])

Manquita
Puerta del Sol

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [13]:
def lists_to_dictionary(list1, list2):
    chnange_tupla = zip(list1, list2)
    return(dict(chnange_tupla))

lists_to_dictionary(city4, landmark)

{'Malaga': 'Manquita',
 'Madrid': 'Puerta del Sol',
 'Kuala Lumpur': 'Petrona Towers',
 'Edimburgo': 'Princess Street'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [16]:
dog ={}
type(dog)

dict

2. Add name, color, breed, legs, age to the dog dictionary.

In [17]:
dog['name'] = 'Guancho'
dog['breed'] = 'Pastor Alemán'
dog['legs'] = 4
dog['age'] = 13

dog

{'name': 'Guancho', 'breed': 'Pastor Alemán', 'legs': 4, 'age': 13}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [38]:
student_dict = {'first_name': 'Juan', 'last_name': 'Guerrero', 'age': 26, 'skills': ['python programming', 'engineering', 'cooking'], 'city': 'Malaga', 'address': 'Larios 1'}

4. Get the length of the student dictionary.

In [21]:
len(student_dict)

6

5. Get the value of skills and check the data type, it should be a list.

In [23]:
print(student_dict['skills'])
type(student_dict['skills'])

['python programming', 'engineering', 'cooking']

list

6. Modify the skills values by adding one or two skills.

In [40]:
#Primer intento
#skill_list = student_dict['skills']
#student_dict['skills'] = skill_list.append(['painting', 'singing'])

#Segundo intento
student_dict['skills'].extend(['painting', 'singing'])
student_dict

{'first_name': 'Juan',
 'last_name': 'Guerrero',
 'age': 26,
 'skills': ['python programming',
  'engineering',
  'cooking',
  'painting',
  'singing'],
 'city': 'Malaga',
 'address': 'Larios 1'}

7. Get the dictionary keys as a list.

In [42]:
list_keys = list(student_dict.keys())
list_keys

['first_name', 'last_name', 'age', 'skills', 'city', 'address']

8. Get the dictionary values as a list.

In [44]:
list_values = list(student_dict.values())
list_values

['Juan',
 'Guerrero',
 26,
 ['python programming', 'engineering', 'cooking', 'painting', 'singing'],
 'Malaga',
 'Larios 1']

9. Change the dictionary to a list of tuples using `items()` method

In [48]:
list_of_tupled_items = list(student_dict.items())
list_of_tupled_items

[('first_name', 'Juan'),
 ('last_name', 'Guerrero'),
 ('age', 26),
 ('skills',
  ['python programming', 'engineering', 'cooking', 'painting', 'singing']),
 ('city', 'Malaga'),
 ('address', 'Larios 1')]

10. Delete one of the items in the dictionary.

In [49]:
del student_dict['skills']
student_dict

{'first_name': 'Juan',
 'last_name': 'Guerrero',
 'age': 26,
 'city': 'Malaga',
 'address': 'Larios 1'}

### Bonus Track

**Tómate una cervecita o un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)