# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [9]:
name_class = ['Alex Balseiro', 'Alfonso García', 'Anais', 'Antonio Leal', 'Ariadna Puigventos', 'Daniel', 'Estela Falgas', 'Javier Gil', 'Javier Olcoz', 'Juan Guerrero', 'Kapil Dadlani', 'Leonardo Sánchez', 'Ma Rguezvi', 'María Cagigas', 'María_del_Mar Delgado', 'Marta', 'Miguel', 'Miguel Merry', 'Noya', 'Roberto Molleda', 'Xeles']

names1 = [name_class[1], name_class[16], name_class[19], name_class[10]]
names2 = [name_class[6], name_class[17], name_class[11], name_class[5], name_class[15]]
names3 = [name_class[13], name_class[20], name_class[9]]
names_remote = [name_class[0], name_class[2], name_class[3], name_class[4], name_class[7], name_class[8], name_class[14], name_class[12], name_class[18]]

name_class_ordered = [names1, names2, names3, names_remote]

print(name_class)
print(name_class_ordered)

['Alex Balseiro', 'Alfonso García', 'Anais', 'Antonio Leal', 'Ariadna Puigventos', 'Daniel', 'Estela Falgas', 'Javier Gil', 'Javier Olcoz', 'Juan Guerrero', 'Kapil Dadlani', 'Leonardo Sánchez', 'Ma Rguezvi', 'María Cagigas', 'María_del_Mar Delgado', 'Marta', 'Miguel', 'Miguel Merry', 'Noya', 'Roberto Molleda', 'Xeles']
[['Alfonso García', 'Miguel', 'Roberto Molleda', 'Kapil Dadlani'], ['Estela Falgas', 'Miguel Merry', 'Leonardo Sánchez', 'Daniel', 'Marta'], ['María Cagigas', 'Xeles', 'Juan Guerrero'], ['Alex Balseiro', 'Anais', 'Antonio Leal', 'Ariadna Puigventos', 'Javier Gil', 'Javier Olcoz', 'María_del_Mar Delgado', 'Ma Rguezvi', 'Noya']]

### Exercise 2

1. Create an empty list, call it **empty_list**

In [10]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [11]:
my_list = [1, 2, 3, 4, 5]

3. Find the length of **my_list**

In [12]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [15]:
print(my_list[0], my_list[3], my_list[-1])

1 4 5

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [16]:
name = 'Godofredo'
age = 103
height = 153
country = 'Lesoto'
python_version = 3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [17]:
mixed_data_types = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [19]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [20]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [21]:
len(it_companies)

7

11. Print *Google*

In [22]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [25]:
print(it_companies[0], it_companies[len(it_companies)//2], it_companies[-1])

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [26]:
it_companies[-1] = 'Nokia'

12. Print the list after modifying one of the companies

In [27]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Nokia']

## Bonus track.

13. Add an IT company to **it_companies**

In [33]:
it_companies.append('AMD')
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Nokia', 'AMD']

14. Check if *Apple* exists in the **it_companies** list.

In [34]:
'Apple' in it_companies

True

15. Sort the list using `sort()` method

In [36]:
it_companies.sort()
it_companies

['AMD', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Nokia', 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [38]:
it_companies.reverse()
it_companies

['Oracle', 'Nokia', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'AMD']

17. Slice out the first 3 companies from the list

In [39]:
it_companies[0:3]

['Oracle', 'Nokia', 'Microsoft']

18. Remove the last IT company from the list

In [42]:
it_companies.pop(-1)
it_companies

['Oracle', 'Nokia', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [43]:
it_companies.clear()
it_companies

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [49]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [50]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [51]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [62]:
tup = ('T',)
tup

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [63]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [64]:
#Las tuplas son inmutables por lo que no se pueden modificar, esto quiere decir que no se pueden añadir, eliminar o modificar elementos. Aún así, es posible modificar las tuplas convirtiendolas primero a listas y luego a tuplas de nuevo. 

add = ["H", "E", " ", "B", "R", "I", "D", "G", "E",]
tup = list(tup)
tup = tup + add
tup = tuple(tup)
tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
#Tampoco se podría reasignar un valor dentro de una tupla a no ser que se utilice un método similar al anterior

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [65]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [67]:
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [68]:
my_set[0]

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [71]:
my_set = list(my_set)
print(my_set)
my_set[0]

['diomedes', 'science', 'data', 'gabriel', 'python', 'clara']

'diomedes'