# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [2]:
print('hola', 'adiós', sep = '\n')
print('hola', 'adiós', end = "\t")

hola
adiós
hola adiós

2. Make a converter from dollars to euros. You'll have to use input.

In [7]:
in_dollars = input('Insert amount of dollars you wish to convert: ')
out_euros = int(in_dollars) * 0.84
print('Your money in euros:', out_euros)

200
Your money in euros: 168.0

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [12]:
first_name = 'Juan'
last_name = 'Guerrero'
age = 26

f'hola {first_name} {last_name}, tienes {age} años'

'hola Juan Guerrero, tienes 26 años'

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [14]:
print('Máximo:', max([4, 7, -3]))
print('Mínimo', min([4, 7, -3]))
print('Suma:', sum([4, 7, -3]))

Máximo: 7
Mínimo -3
Suma: 8

5. Round `38.38276252728` to 5 decimal places.

In [21]:
round(38.38276252728, 5)

38.38276

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [33]:
frase = "Born to be wild"
print(frase.upper())
print(frase.lower())
print(frase.split())
print(frase.replace('wild', 'Geek'))

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Born to be Geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [37]:
first_in, second_in = input('Insert first input: '), input('Insert second input: ')
boolean_out = first_in == second_in
boolean_out

#Como función

def input_check(first_in = input('Insert first input: '), second_in = input('Insert second input: ')):
    print(first_in == second_in)
    return(first_in == second_in)

boolean_out = input_check()

True
True

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [51]:
#clients_age = input('Indicate clients age or retired if appropiate: ')
peliculas_discount = ['The Lord of the Rings', "The Truman Show", "The Big Lebowski", "Gravity"]
pelicula = input('Choose film: ')

#Primer intento:
#if int(clients_age) >= 5 and int(clients_age) <= 15:
    #ticket_price = 5
#elif clients_age == retired and pelicula in peliculas_discount:
    #ticket_price = 4
#else:
    #ticket_price = 7

#print('The ticket price is', ticket_price, 'euros')

#Segundo intento:
#if clients_age == 'retired' and pelicula in peliculas_discount:
    #ticket_price = 4
#elif int(clients_age) >= 5 and int(clients_age) <= 15:
    #ticket_price = 5
#else:
    #ticket_price = 7

#print('The ticket price is', ticket_price, 'euros')

#Tercer intento:
clients_age = input('Indicate clients age: ')

if int(clients_age) > 65 and pelicula in peliculas_discount:
    ticket_price = 4
elif int(clients_age) >= 5 and int(clients_age) <= 15:
    ticket_price = 5
else:
    ticket_price = 7

print('The ticket price is', ticket_price, 'euros')

The ticket price is 7 euros

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

In [2]:
for num in range(0, 71):
    if num % 5 == 0 and num % 3 == 0:
        print(num)

0
15
30
45
60

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [53]:
for i in range(1, 10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

3. Given two list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [58]:
a = [3, 1, 1]
b = [2, 3, 2]
new_list = []

for i in range(len(a)):
    new_list.append(a[i] + b[i])

new_list

[5, 4, 3]

4. Get first, second best scores from the list.
List contains duplicates.

In [64]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

In [70]:
scores_group = set(scores)
print(max(scores_group))
scores_group.remove(max(scores_group))
print(max(scores_group))

86
85

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [72]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

In [80]:
lista_num = []
lista_conc = []

for elem in gadgets:
    if type(elem) == int or type(elem) == float:
        lista_num.append(elem)
    else:
        lista_conc.append(elem)

print(lista_conc)
print(lista_num)

lista_conc.sort()
print(lista_conc)
lista_conc.sort(reverse = True)
print(lista_conc)

lista_num.sort()
print(lista_num)
lista_num.sort(reverse = True)
print(lista_num)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
[100, 310.28, 27.0, 1000]
['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']
[27.0, 100, 310.28, 1000]
[1000, 310.28, 100, 27.0]

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

In [82]:
# r means red, g means green and b means blue
alien_list = ['r', 'r', 'g', 'r', 'b', 'b','b', 'g', 'r', 'g']
cont = 0

for alien in alien_list:
    if alien == 'r':
        cont += 5
    elif alien == 'g':
        cont += 10
    else:
        cont += 20
    
print(cont)

110

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [83]:
def suma_dos_num(val1, val2):
    return(val1 + val2)

suma_dos_num(3, 5)

8

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [84]:
sample_tuple = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")

def tuple_to_string(tupla):
    out_string = ""
    lista = list(tupla)
    for elem in lista:
        out_string += elem
    print(out_string)
    return(out_string)

tuple_to_string(sample_tuple)

THE BRIDGE

'THE BRIDGE'

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

In [99]:
def fun_ej3():
    lista1 = []
    for num in range(1,31):
        lista1.append(num * num)
    print(lista1)
    lista2 = lista1[0:5] + lista1[-5:]
    print(lista2)
    return(lista2)

fun_ej3()
print(fun_ej3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]
<function fun_ej3 at 0x000001EB54512CA0>

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

In [108]:
def factorial_num(in1 = input('Enter number: ')):
    in1 = int(in1)
    fact_out = in1
    if in1 == 0:
        return(1)
    else:
        for i in range(1, in1):
            in1 += -1
            fact_out = fact_out * in1
        return(fact_out)

factorial_num()

1

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

In [112]:
def average_calc(entr = input('Amount of numbers to enter: ')):
    lista = []
    for i in range(int(entr)):
        num = int(input('Enter number: '))
        lista.append(num)
    media = sum(lista)/len(lista)
    return(media)

average_calc()

3.0

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)