### Ejercicio 1

A partir de la API de Pokemon, se pide generar un DataFrame como el de la imagen con las columnas: 

- **"height","id","order","weight","types"**

### Ejercicio 2

¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types".

![](df_pk.PNG)

In [2]:
import json
import requests

import pandas as pd
from pandas.io.json import json_normalize

In [3]:
url = "https://pokeapi.co/api/v2/pokemon"
poke_json = requests.get(url).json()
poke_json

{'count': 1118,
 'next': 'https://pokeapi.co/api/v2/pokemon?offset=20&limit=20',
 'previous': None,
 'results': [{'name': 'bulbasaur',
   'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
  {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
  {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
  {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
  {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
  {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
  {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
  {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
  {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
  {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
  {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
  {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
  {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
  {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
  {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
  {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
  {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
  {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
  {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
  {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'}]}

In [4]:
pokemon_url_list = []
url = 'https://pokeapi.co/api/v2/pokemon?offset=0&limit=5'

poke_json_5 = requests.get(url).json()
pokemon_url_list.extend(poke_json_5['results'])
pokemon_url_list

[{'name': 'bulbasaur', 'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
 {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
 {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
 {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
 {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'}]

In [5]:
pokemon_url_df = pd.DataFrame(pokemon_url_list)
pokemon_url_df

         name                                   url
0   bulbasaur  https://pokeapi.co/api/v2/pokemon/1/
1     ivysaur  https://pokeapi.co/api/v2/pokemon/2/
2    venusaur  https://pokeapi.co/api/v2/pokemon/3/
3  charmander  https://pokeapi.co/api/v2/pokemon/4/
4  charmeleon  https://pokeapi.co/api/v2/pokemon/5/

In [6]:
#height, id, order, weight, types
url = 'https://pokeapi.co/api/v2/pokemon/1/'
pokemon_chars = requests.get(url).json()
pokemon_chars['types']

[{'slot': 1,
  'type': {'name': 'grass', 'url': 'https://pokeapi.co/api/v2/type/12/'}},
 {'slot': 2,
  'type': {'name': 'poison', 'url': 'https://pokeapi.co/api/v2/type/4/'}}]

In [7]:
pokemon_url_df['url'][1]

'https://pokeapi.co/api/v2/pokemon/2/'

In [8]:
height = []
id = []
order = []
weight = []
types = []

for url in pokemon_url_df['url']:
    pokemon_chars = requests.get(url).json()
    height.append(pokemon_chars['height'])
    id.append(pokemon_chars['id'])
    order.append(pokemon_chars['order'])
    weight.append(pokemon_chars['weight'])
    types.append(pokemon_chars['types'])

height = pd.DataFrame(height)
id = pd.DataFrame(id)
order = pd.DataFrame(order)
weight = pd.DataFrame(weight)
types = pd.DataFrame(types)

poke_chars_df = pd.concat([pokemon_url_df, height, id, order, weight, types], axis=1)
poke_chars_df

,name,url,0,0,0,0,0,1
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,"{'slot': 1, 'type': {'name': 'grass', 'url': '...","{'slot': 2, 'type': {'name': 'poison', 'url': ..."
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,"{'slot': 1, 'type': {'name': 'grass', 'url': '...","{'slot': 2, 'type': {'name': 'poison', 'url': ..."
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,"{'slot': 1, 'type': {'name': 'grass', 'url': '...","{'slot': 2, 'type': {'name': 'poison', 'url': ..."
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",None
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",None

In [11]:
height = []
id = []
order = []
weight = []
types = []

for url in pokemon_url_df['url']:
    pokemon_chars = requests.get(url).json()
    height.append(pokemon_chars['height'])
    id.append(pokemon_chars['id'])
    order.append(pokemon_chars['order'])
    weight.append(pokemon_chars['weight'])
    types.append(pokemon_chars['types'])

chars_dict ={'height':height, 'id':id, 'order':order, 'weight': weight, 'types':types}
chars_df = pd.DataFrame(chars_dict)

poke_chars_df = pd.concat([pokemon_url_df, chars_df], axis=1)
poke_chars_df

,name,url,height,id,order,weight,types
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."

In [12]:
poke_chars_df['types']

0    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
1    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
2    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
3    [{'slot': 1, 'type': {'name': 'fire', 'url': '...
4    [{'slot': 1, 'type': {'name': 'fire', 'url': '...
Name: types, dtype: object

In [13]:
#types_string = json.dumps(poke_chars_df['types'].to_json())
types_string = poke_chars_df['types'].to_json()
#types_df = pd.DataFrame(types_string)
#types_df
#type(types_string)
types_string

'{"0":[{"slot":1,"type":{"name":"grass","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/12\\/"}},{"slot":2,"type":{"name":"poison","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/4\\/"}}],"1":[{"slot":1,"type":{"name":"grass","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/12\\/"}},{"slot":2,"type":{"name":"poison","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/4\\/"}}],"2":[{"slot":1,"type":{"name":"grass","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/12\\/"}},{"slot":2,"type":{"name":"poison","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/4\\/"}}],"3":[{"slot":1,"type":{"name":"fire","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/10\\/"}}],"4":[{"slot":1,"type":{"name":"fire","url":"https:\\/\\/pokeapi.co\\/api\\/v2\\/type\\/10\\/"}}]}'

In [14]:
types_string = poke_chars_df['types'].to_list()
types_df = pd.DataFrame(types_string)
types_df

,0,1
0,"{'slot': 1, 'type': {'name': 'grass', 'url': '...","{'slot': 2, 'type': {'name': 'poison', 'url': ..."
1,"{'slot': 1, 'type': {'name': 'grass', 'url': '...","{'slot': 2, 'type': {'name': 'poison', 'url': ..."
2,"{'slot': 1, 'type': {'name': 'grass', 'url': '...","{'slot': 2, 'type': {'name': 'poison', 'url': ..."
3,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",None
4,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",None

In [21]:
poke_chars_df.loc[:,'types':]

                                               types
0  [{'slot': 1, 'type': {'name': 'grass', 'url': ...
1  [{'slot': 1, 'type': {'name': 'grass', 'url': ...
2  [{'slot': 1, 'type': {'name': 'grass', 'url': ...
3  [{'slot': 1, 'type': {'name': 'fire', 'url': '...
4  [{'slot': 1, 'type': {'name': 'fire', 'url': '...

In [33]:
type(poke_chars_df.loc[:,'types':])

pandas.core.frame.DataFrame

In [31]:
for i, r in poke_chars_df.loc[:,'types':].iterrows():
    if i == 0:
        types_df = pd.DataFrame(r)
        print(r)
        print(type(r))  
    else:
        types_df = pd.concat([types_df, pd.DataFrame(r)], axis=0)
        

types_df

types    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

,0,1,2,3,4
types,"[{'slot': 1, 'type': {'name': 'grass', 'url': ...",NaN,NaN,NaN,NaN
types,NaN,"[{'slot': 1, 'type': {'name': 'grass', 'url': ...",NaN,NaN,NaN
types,NaN,NaN,"[{'slot': 1, 'type': {'name': 'grass', 'url': ...",NaN,NaN
types,NaN,NaN,NaN,"[{'slot': 1, 'type': {'name': 'fire', 'url': '...",NaN
types,NaN,NaN,NaN,NaN,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."

In [38]:
df_final = None
for i, x in enumerate(poke_chars_df['types']):
    if i == 0:
        df_final = pd.DataFrame(x)
    else:
        df_final = pd.concat([df_final, pd.DataFrame(x)], axis=0)
df_final

   slot                                               type
0     1  {'name': 'grass', 'url': 'https://pokeapi.co/a...
1     2  {'name': 'poison', 'url': 'https://pokeapi.co/...
0     1  {'name': 'grass', 'url': 'https://pokeapi.co/a...
1     2  {'name': 'poison', 'url': 'https://pokeapi.co/...
0     1  {'name': 'grass', 'url': 'https://pokeapi.co/a...
1     2  {'name': 'poison', 'url': 'https://pokeapi.co/...
0     1  {'name': 'fire', 'url': 'https://pokeapi.co/ap...
0     1  {'name': 'fire', 'url': 'https://pokeapi.co/ap...

In [35]:
poke_chars_df.loc[:,'types':].types

0    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
1    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
2    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
3    [{'slot': 1, 'type': {'name': 'fire', 'url': '...
4    [{'slot': 1, 'type': {'name': 'fire', 'url': '...
Name: types, dtype: object