# Data Exploration

En esta sección haremos una exploración superficial de los datos recogidos en el dataset que se ha procesado previamente, para poder visualizar la distribución de los datos y detectar anomalías, como datos faltantes o extraños, rapidemente.

Se importa el dataframe pulido del trabajo

In [3]:
import pandas as pd 
import numpy as np 
import os
import sys

In [4]:
root_project = os.path.dirname(os.getcwd())
sys.path.append(root_project)
movies_csv_dir = root_project + '/resources/movies_df.csv'
movies_csv_df = pd.read_csv(movies_csv_dir)
movies_df = movies_csv_df.copy()

In [5]:
movies_df.head()

,title,release_date,original_language,genres,budget,revenue,production_countries,runtime,vote_average,vote_count
0,Toy Story,1995-10-30,en,"['Animation', 'Comedy', 'Family']",30000000,373554033.0,['United States of America'],81.0,7.7,5415.0
1,Jumanji,1995-12-15,en,"['Adventure', 'Fantasy', 'Family']",65000000,262797249.0,['United States of America'],104.0,6.9,2413.0
2,Grumpier Old Men,1995-12-22,en,"['Romance', 'Comedy']",0,0.0,['United States of America'],101.0,6.5,92.0
3,Waiting to Exhale,1995-12-22,en,"['Comedy', 'Drama', 'Romance']",16000000,81452156.0,['United States of America'],127.0,6.1,34.0
4,Father of the Bride Part II,1995-02-10,en,['Comedy'],0,76578911.0,['United States of America'],106.0,5.7,173.0

Empezamos por comprobar si los nombres de las películas son todos únicos o si se repite algún valor

In [18]:
len(movies_df) - movies_df.title.nunique()

3186

In [26]:
movies_df.title.nunique()

42277

In [16]:
movies_df.title[movies_df.title.duplicated(False)

5516

Se visualizarán los datos de cada columna con gráficos acordes al tipo de información que guardan. Iremos columna a columna:

### -release_date