## Working on Jsons

In [2]:
import requests
import json
import pandas as pd

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)
#json_readed

In [4]:
#print(json_readed)

Save json in a local file called "data.json"

In [5]:
with open('data.json', 'w+') as outfile:
    json.dump(json_readed, outfile)

In [1]:
with open('data.json') as f:
    line = f.readline()
    if line:
        print(line)
        line = f.readline()

FileNotFoundError: [Errno 2] No such file or directory: 'data.json'

Save with indent

In [7]:
with open('data_indented.json', 'w+') as outfile:
    json.dump(json_readed, outfile, indent=4)

Read local json

In [8]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
#json_readed

In [9]:
df_json = pd.read_json("data_indented.json")
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

OPCIONAL

In [10]:
copy = df_json.copy()
copy.reset_index(inplace=True)
# Lo de arriba es sin√≥nimo a:
# copy = copy.reset_index()

In [11]:
df_json

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

           _internal                                             league
standard         NaN  [{'isNBAFranchise': False, 'isAllStar': True, ...
africa           NaN  [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento       NaN  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas            NaN  [{'isNBAFranchise': True, 'isAllStar': False, ...
utah             NaN  [{'isNBAFranchise': True, 'isAllStar': False, ...

In [12]:
df_json_league = df_json.loc["standard":]
df_json_league = df_json_league.drop(["_internal"], axis=1)
df_json_league

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

--------------------
## Soluci√≥n 1:

In [13]:
diccionario_json = {}
lista_json = [json for lista_json in df_json_league.league for json in lista_json]

for cada_json in lista_json:
    for key, value in cada_json.items(): 
        if key not in diccionario_json.keys():
            diccionario_json[key] = [value]
        else: 
            diccionario_json[key].append(value)

data = pd.DataFrame(diccionario_json)
data

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
83,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
84,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
85,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
86,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
87,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

--------------------

## Soluci√≥n 2:

In [14]:
df = df_json_league.explode('league')
df

                                                     league
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
standard  {'isNBAFranchise': False, 'isAllStar': True, '...
...                                                     ...
vegas     {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...
utah      {'isNBAFranchise': True, 'isAllStar': False, '...

[88 rows x 1 columns]

In [15]:
df = df_json_league.explode('league').apply(lambda e: e.league, axis = 1, result_type = 'expand')
df

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
standard,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
standard,False,True,World,World,World,WLD,1610616844,World,world,East,East
standard,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
standard,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
standard,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
vegas,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
utah,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
utah,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
utah,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
utah,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

--------------------