In [1]:
import pandas as pd
import os
import sys

In [3]:
# Accede a la carpeta por encima de directorio actual
root_project = os.path.dirname(os.getcwd())

In [4]:
sys.path.append(root_project)

In [5]:
movies_csv_dir = root_project + '/resources/movies_metadata.csv'

movies_csv_df = pd.read_csv(movies_csv_dir, sep= ',')
movies_df = movies_csv_df.copy()

In [30]:
movies_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [40]:
releases = movies_df[movies_df.status != 'Released'].release_date
releases

189      1995-08-25
682      1995-08-18
767      1995-01-01
775      1974-01-01
1032     1996-05-29
            ...
45109    1961-06-06
45159    1990-11-30
45207    2017-08-04
45289    2010-03-26
45442    1905-01-01
Name: release_date, Length: 452, dtype: object

In [6]:
l = []
for i, it in enumerate(movies_df.release_date):
    try:
        pd.to_datetime(it)
    except:
        l.append(i)

l

[19730, 29503, 35587]

In [10]:
movies_df = movies_df.drop(l)

AttributeError: 'DataFrame' object has no attribute 'release_dates'

In [15]:
pd.to_datetime(movies_df.release_date)

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45463, dtype: datetime64[ns]

In [13]:
movies_df.release_date = pd.to_datetime(movies_df.release_date)

In [73]:
movies_df.iloc[l,:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
g = []
for i, it in enumerate(movies_df.budget):
    try:
        float(it)
    except:
        g.append(i)

g

[19730, 29503, 35587]

In [90]:
movies_df.iloc[g,:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
l == g

True

In [16]:
import requests
import json
import pandas as pd

In [17]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [31]:
df_json_readed = pd.DataFrame(json_readed)
df_json_league = pd.DataFrame(df_json_readed.loc['standard': , 'league'])

In [32]:
diccionario_json = {}
lista_json = [json for lista_json in df_json_league.league for json in lista_json]

for cada_json in lista_json:
    for key, value in cada_json.items(): 
        if key not in diccionario_json.keys():
            diccionario_json[key] = [value]
        else: 
            diccionario_json[key].append(value)

data = pd.DataFrame(diccionario_json)
data

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
83,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
84,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
85,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
86,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
87,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

In [33]:
df = df_json_league.explode('league').apply(lambda e: e.league, axis = 1, result_type = 'expand')
df

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
standard,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
standard,False,True,World,World,World,WLD,1610616844,World,world,East,East
standard,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
standard,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
standard,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
vegas,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
utah,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
utah,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
utah,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
utah,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

In [38]:
data.equals(df)

False